<% include partials/header %>


<div class="container">
    <h1 class="display-3" id="search-header">Search for a Wikipedia page</h1>

<div id="search-container">
    <form action="/results" method="GET" id="search-form">
        <input id="search-input" type="text" placeholder="Search Wiki" name="search"><br>
        <input id="search-submit" type="submit">
    </form>
</div>



</div>



<% include partials/footer %>